<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:

Find the features or media channels used by the firm
Create a model  to predict the sales outcome
Split as training and testing datasets for the model
Calculate the Mean Square Error (MSE)

* * *

#### 1: Import the dataset

In [35]:
#Import the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#Import the advertising dataset
df = pd.read_csv('Advertising Budget and Sales.csv')

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
df.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [4]:
#Check the total number of elements in the dataset
df.describe()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,147.042500,23.264000,30.554000,14.022500
std,57.879185,85.854236,14.846809,21.778621,5.217457
min,1.000000,0.700000,0.000000,0.300000,1.600000
25%,50.750000,74.375000,9.975000,12.750000,10.375000
50%,100.500000,149.750000,22.900000,25.750000,12.900000
75%,150.250000,218.825000,36.525000,45.100000,17.400000
max,200.000000,296.400000,49.600000,114.000000,27.000000

#### 3: Find the features or media channels used by the firm

In [11]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 5)

In [12]:
#View the names of each of the attributes
df.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [25]:
#Create a feature object from the columns
X_features = df[['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)','Newspaper Ad Budget ($)']]
X_features = df.iloc[:, 0:4]

In [26]:
#View the feature object
X_features

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($)
0,1,230.1,37.8,69.2
1,2,44.5,39.3,45.1
2,3,17.2,45.9,69.3
3,4,151.5,41.3,58.5
4,5,180.8,10.8,58.4
...,...,...,...,...
195,196,38.2,3.7,13.8
196,197,94.2,4.9,8.1
197,198,177.0,9.3,6.4
198,199,283.6,42.0,66.2
199,200,232.1,8.6,8.7

In [27]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = df['Sales ($)']

In [28]:
#View the target object
Y_target

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales ($), Length: 200, dtype: float64

In [29]:
#Verify if all the observations have been captured in the feature object
X_features.shape

(200, 4)

In [30]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [33]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
x_train, x_test, y_train, y_test = train_test_split(X_features, Y_target)

In [34]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((150, 4), (50, 4), (150,), (50,))

#### 6: Create a model  to predict the sales outcome

In [41]:
#Create a linear regression model - a linear regressor predicts variance 
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression()

In [42]:
#Print the intercept and coefficients 
linReg.intercept_, linReg.coef_ #_ indicates it is an estimate

(3.3293712432261113,
 array([-0.00072901,  0.04399227,  0.19964845, -0.00643303]))

In [48]:
#Predict the outcome for the testing dataset
print('The Variance is : %.2f' % linReg.score(x_test,y_test) )

The Variance is : 0.81

In [52]:
y_predict = linReg.predict(x_test)

#### 7: Calculate the Mean Square Error (MSE)

In [49]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [53]:
#Calculate the MSE
mean_squared_error(y_test, y_predict)

5.289381686522027

In [59]:
MSE = np.sum((y_predict- y_test)**2)/ len(y_predict)
MSE

5.289381686522027